<!DOCTYPE html>
<html>

<head>
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="login.component.scss">
</head>

<body>
  <div class="login-page">
    <div class="form">
      <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm)" class="login-form">
        <input formControlName="email" type="text" placeholder="Username" />
        <input formControlName="password" type="password" placeholder="Password" />
        <button>Login</button>
      </form>
    </div>
  </div>
</body>

</html>