

<div class="w-75 m-auto py-5">

  <div *ngIf="error" class="alert alert-danger">
    <h1>{{error}} </h1>
  </div>
  <form [formGroup] = "registerFrom" (ngSubmit)="submitRegisterForm(registerFrom)">
    <div class="form-group">
      <label for="quote">Quote</label>
      <input
        formControlName="quote"
        class="form-control"
        type="text"
        id="quote"
      />

      <div *ngIf="registerFrom.get('quote')?.errors != null && registerFrom.get('quote')?.touched === true" class="alert my-2 alert-danger">
        <p *ngIf="registerFrom.get('quote')?.errors?.['required']">Quote is requrie</p>
        <p *ngIf="registerFrom.get('quote')?.errors?.['minlength']">min length should be 5 </p>
        <p *ngIf="registerFrom.get('quote')?.errors?.['maxlength']"> max length is 15</p>
      </div>
    </div>  
    
    
  
    <div class="form-group">
      <label for="email">Email</label>
      <input
        formControlName="email"
        class="form-control"
        type="text"
        id="email"
      />

      <div *ngIf="registerFrom.get('email')?.errors != null && registerFrom.get('email')?.touched === true" class="alert my-2 alert-danger">
        <p *ngIf="registerFrom.get('email')?.errors?.['required']">First Name should be required</p>
        <p *ngIf="registerFrom.get('email')?.errors?.['email']">Min length should be 3 </p>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        formControlName="password"
        class="form-control"
        type="text"
        id="password"
      />
      
      <div *ngIf="registerFrom.get('password')?.errors != null && registerFrom.get('password')?.touched === true" class="alert my-2 alert-danger">
        <p *ngIf="registerFrom.get('password')?.errors?.['required']">First Name should be required</p>
      </div>
    </div>
    <button [disabled]="registerFrom.invalid" class="btn btn-info" type="submit">register</button>
  </form>
</div>
